@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}


body {
  background: 
    radial-gradient(
      circle at top,
      rgba(59,130,246,0.18),
      transparent 40%
    ),
    radial-gradient(
      circle at right,
      rgba(59,130,246,0.12),
      transparent 45%
    ),
    #050816;

  color: white;
  overflow-x: hidden;
  
}
